# Pandas

## 1. Structure de données "series"

In [1]:
import pandas as pd

In [2]:
# main datatypes
# 1-dimensional
w = pd.Series([20, 11, 21, 20, 12, 14])

In [3]:
w

0    20
1    11
2    21
3    20
4    12
5    14
dtype: int64

In [4]:
w.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
w.values

array([20, 11, 21, 20, 12, 14], dtype=int64)

In [8]:
# Rename index
w.index=(['Federer', 'Borg', 'Nadal', 'Djokovic', 'Emerson', 'Sampras'])

In [9]:
w

Federer     20
Borg        11
Nadal       21
Djokovic    20
Emerson     12
Sampras     14
dtype: int64

In [10]:
# recreate W using index constructor
w = pd.Series([20, 11, 21, 20, 12, 14],index=(['Federer', 'Borg', 'Nadal', 'Djokovic', 'Emerson', 'Sampras']))

In [11]:
w

Federer     20
Borg        11
Nadal       21
Djokovic    20
Emerson     12
Sampras     14
dtype: int64

In [13]:
# Recreate with dictionnary
w = pd.Series({'Federer':20, 'Borg':11, 'Nadal':21, 'Djokovic':20, 'Emerson':12, 'Sampras': 14})

In [14]:
w

Federer     20
Borg        11
Nadal       21
Djokovic    20
Emerson     12
Sampras     14
dtype: int64

### Loc return data with same given index

In [17]:
w.loc['Emerson']

12

### iLoc return data at position

In [18]:
w.iloc[4]

12

In [19]:
# Slicing
w.loc['Borg':'Emerson']

Borg        11
Nadal       21
Djokovic    20
Emerson     12
dtype: int64

In [21]:
w.iloc[1:4]

Borg        11
Nadal       21
Djokovic    20
dtype: int64

## 2. Structure de données

In [23]:
# Dataframe
best = pd.DataFrame({"Number":[20, 11, 21, 20, 12, 14],"Nationality":['Swiss', 'Sweden', 'Spain', 'Serbia', 'Australia', 'USA'],"Born":[1981,1956,1986,1987,1936,1971]}, index=['Federer', 'Borg', 'Nadal', 'Djokovic', 'Emerson', 'Sampras'])

In [24]:
best

          Number Nationality  Born
Federer       20       Swiss  1981
Borg          11      Sweden  1956
Nadal         21       Spain  1986
Djokovic      20      Serbia  1987
Emerson       12   Australia  1936
Sampras       14         USA  1971