In [4]:
import pandas as pd

df = pd.read_csv('pew.csv')
print(df.head())

#tidy dataset avec la méthode melt
tidy_df = pd.melt(df, id_vars=['religion'], var_name='income', value_name='count')

print("\n tidy dataset")
print(tidy_df.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

 tidy dataset
             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [13]:
df = pd.read_csv('tuberculosis.csv')
print(df)

melted_df = pd.melt(df, id_vars=['country', 'year'], var_name='variable', value_name='value')
print(melted_df)

    country  year   m014   m1524   m2534   m3544   m4554  m5564    m65  mu  \
0        AD  2000    0.0     0.0     1.0     0.0     0.0    0.0    0.0 NaN
1        AE  2000    2.0     4.0     4.0     6.0     5.0   12.0   10.0 NaN
2        AF  2000   52.0   228.0   183.0   149.0   129.0   94.0   80.0 NaN
3        AG  2000    0.0     0.0     0.0     0.0     0.0    0.0    1.0 NaN
4        AL  2000    2.0    19.0    21.0    14.0    24.0   19.0   16.0 NaN
..      ...   ...    ...     ...     ...     ...     ...    ...    ...  ..
196      YE  2000  110.0   789.0   689.0   493.0   314.0  255.0  127.0 NaN
197      YU  2000    NaN     NaN     NaN     NaN     NaN    NaN    NaN NaN
198      ZA  2000  116.0   723.0  1999.0  2135.0  1146.0  435.0  212.0 NaN
199      ZM  2000  349.0  2175.0  2610.0  3045.0   435.0  261.0  174.0 NaN
200      ZW  2000    NaN     NaN     NaN     NaN     NaN    NaN    NaN NaN

      f014   f1524   f2534   f3544  f4554  f5564   f65  fu
0      NaN     NaN     NaN     NaN    NaN    NaN   NaN NaN
1      3.0    16.0     1.0     3.0    0.0    0.0   4.0 NaN
2     93.0   414.0   565.0   339.0  205.0   99.0  36.0 NaN
3      1.0     1.0     1.0     0.0    0.0    0.0   0.0 NaN
4      3.0    11.0    10.0     8.0    8.0    5.0  11.0 NaN
..     ...     ...     ...     ...    ...    ...   ...  ..
196  161.0   799.0   627.0   517.0  345.0  247.0  92.0 NaN
197    NaN     NaN     NaN     NaN    NaN    NaN   NaN NaN
198  122.0  1283.0  1716.0   933.0  423.0  167.0  80.0 NaN
199  150.0   932.0  1118.0  1305.0  186.0  112.0  75.0 NaN
200    NaN     NaN     NaN     NaN    NaN    NaN   NaN NaN

[201 rows x 18 columns]
     country  year variable  value
0         AD  2000     m014    0.0
1         AE  2000     m014    2.0
2         AF  2000     m014   52.0
3         AG  2000     m014    0.0
4         AL  2000     m014    2.0
...      ...   ...      ...    ...
3211      YE  2000       fu    NaN
3212      YU  2000       fu    NaN
3213      ZA  2000       fu    NaN
3214      ZM  2000       fu    NaN
3215      ZW  2000       fu    NaN

[3216 rows x 4 columns]

In [9]:
# Vérifier les valeurs uniques dans les colonnes "iso2" et "year"
print("Valeurs uniques dans la colonne 'country':", tb_data['country'].unique())
print("Valeurs uniques dans la colonne 'year':", tb_data['year'].unique())

Valeurs uniques dans la colonne 'country': ['AD' 'AE' 'AF' 'AG' 'AL' 'AM' 'AN' 'AO' 'AR' 'AS' 'AT' 'AU' 'AZ' 'BA'
 'BB' 'BD' 'BE' 'BF' 'BG' 'BH' 'BI' 'BJ' 'BM' 'BN' 'BO' 'BR' 'BS' 'BT'
 'BW' 'BY' 'BZ' 'CA' 'CD' 'CF' 'CG' 'CH' 'CI' 'CK' 'CL' 'CM' 'CN' 'CO'
 'CR' 'CU' 'CV' 'CY' 'CZ' 'DE' 'DJ' 'DK' 'DO' 'DZ' 'EC' 'EE' 'EG' 'ER'
 'ES' 'ET' 'FI' 'FJ' 'FM' 'FR' 'GB' 'GD' 'GE' 'GH' 'GN' 'GR' 'GT' 'GU'
 'GW' 'GY' 'HK' 'HN' 'HR' 'HT' 'HU' 'ID' 'IE' 'IL' 'IN' 'IQ' 'IR' 'IS'
 'IT' 'JM' 'JO' 'JP' 'KE' 'KG' 'KH' 'KI' 'KM' 'KN' 'KP' 'KR' 'KW' 'KY'
 'KZ' 'LA' 'LB' 'LC' 'LK' 'LR' 'LS' 'LT' 'LU' 'LV' 'LY' 'MA' 'MC' 'MD'
 'MG' 'MH' 'MK' 'ML' 'MM' 'MN' 'MO' 'MP' 'MR' 'MS' 'MT' 'MU' 'MV' 'MW'
 'MX' 'MY' 'MZ' nan 'NC' 'NE' 'NG' 'NI' 'NL' 'NO' 'NP' 'NR' 'NU' 'NZ' 'OM'
 'PA' 'PE' 'PF' 'PG' 'PH' 'PK' 'PL' 'PR' 'PS' 'PT' 'PY' 'QA' 'RO' 'RU'
 'RW' 'SA' 'SB' 'SC' 'SD' 'SE' 'SG' 'SI' 'SK' 'SL' 'SM' 'SN' 'SO' 'SR'
 'ST' 'SV' 'SY' 'SZ' 'TC' 'TG' 'TH' 'TJ' 'TK' 'TM' 'TN' 'TO' 'TR' 'TT'
 'TV' 'TZ' 'UA' 'UG' 'US' 'UY' 'UZ' 'VC' 'VE' 'VG' 'VN' 'VU' 'WS' 'YE'
 'YU' 'ZA' 'ZM' 'ZW']
Valeurs uniques dans la colonne 'year': [2000]

In [12]:
# Utiliser la méthode melt pour transformer le dataset
melted_df = pd.melt(df, id_vars=['country', 'year'], var_name='variable', value_name='value')

# la création des variables "sex" et "age"
melted_df[['sex', 'age']] = melted_df['variable'].str.extract(r'(\D)(\d+)') #(\D): Capture un caractère non-numérique
#(\d+) : Capture un ou plusieurs chiffres

melted_df.drop(columns=['variable'], inplace=True)

print("\nAprès la transformation :")
print(melted_df.head())

Après la transformation :
  country  year  value sex  age
0      AD  2000    0.0   m  014
1      AE  2000    2.0   m  014
2      AF  2000   52.0   m  014
3      AG  2000    0.0   m  014
4      AL  2000    2.0   m  014

In [22]:
df = pd.read_csv('weather.csv')
print("Avant la transformation en tidy dataset :")
print(df.head())

#Melt pour faire fondre les colonnes
melted_df = pd.melt(df, id_vars=['id', 'year', 'month', 'element'], var_name='day', value_name='temp')
print(melted_df)

#Tidy dataset à l'aide de la méthode pivot_table
tidy_df = melted_df.pivot_table(index=['id', 'year', 'month', 'day'], columns='element', values='temp').reset_index()

print("\ntidy dataset")
print(tidy_df.head())

Avant la transformation en tidy dataset :
        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]
          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
..       ...   ...    ...     ...  ...   ...
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

tidy dataset
element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4

In [38]:
df = pd.read_csv('billboard.csv', encoding='latin1')
print(df)
# Utiliser la méthode melt pour faire fondre les colonnes
melted_df = pd.melt(df, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rank')
print("\ntidy dataset")
print(melted_df)

     year            artist                    track  time date.entered  wk1  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08   81
3    2000      3 Doors Down                    Loser  4:24   2000-10-21   76
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15   57
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29   86
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01   85
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18   95
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02   99
316  2000   matchbox twenty                     Bent  4:12   2000-04-29   60

      wk2   wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  \
0    82.0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1    87.0  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    70.0  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3    76.0  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    34.0  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
..    ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...   ...
312  83.0  77.0  74.0  83.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
313  83.0  83.0  82.0  81.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
314  94.0  91.0  85.0  84.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
315  99.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
316  37.0  29.0  24.0  22.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

     wk74  wk75  wk76
0     NaN   NaN   NaN
1     NaN   NaN   NaN
2     NaN   NaN   NaN
3     NaN   NaN   NaN
4     NaN   NaN   NaN
..    ...   ...   ...
312   NaN   NaN   NaN
313   NaN   NaN   NaN
314   NaN   NaN   NaN
315   NaN   NaN   NaN
316   NaN   NaN   NaN

[317 rows x 81 columns]

tidy dataset
       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rank
0       wk1  87.0
1       wk1  91.0
2       wk1  81.0
3       wk1  76.0
4       wk1  57.0
...     ...   ...
24087  wk76   NaN
24088  wk76   NaN
24089  wk76   NaN
24090  wk76   NaN
24091  wk76   NaN

[24092 rows x 7 columns]

In [36]:
# Reformater les variables "date.entered", "week" et "rank"
melted_df['date.entered'] = pd.to_datetime(melted_df['date.entered'])
print(melted_df)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rank
0       wk1  87.0
1       wk1  91.0
2       wk1  81.0
3       wk1  76.0
4       wk1  57.0
...     ...   ...
24087  wk76   NaN
24088  wk76   NaN
24089  wk76   NaN
24090  wk76   NaN
24091  wk76   NaN

[24092 rows x 7 columns]

In [37]:
# Reformater les variables "date.entered", "week" et "rank"
melted_df['date.entered'] = pd.to_datetime(melted_df['date.entered'])
melted_df['rank'] = pd.to_numeric(melted_df['rank'], errors='coerce')
print(melted_df)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rank
0       wk1  87.0
1       wk1  91.0
2       wk1  81.0
3       wk1  76.0
4       wk1  57.0
...     ...   ...
24087  wk76   NaN
24088  wk76   NaN
24089  wk76   NaN
24090  wk76   NaN
24091  wk76   NaN

[24092 rows x 7 columns]

In [39]:
# Reformater les variables "date.entered", "week" et "rank"
melted_df['date.entered'] = pd.to_datetime(melted_df['date.entered'])
melted_df['week'] = melted_df['week'].str.extract('(\d+)', expand=False).astype(int)
melted_df['rank'] = pd.to_numeric(melted_df['rank'], errors='coerce')

# Afficher les premières lignes du dataset fondu pour inspection
print("\nAprès la fusion des colonnes :")
print(melted_df.head())

# Diviser le dataset en deux parties
# Par exemple, si vous souhaitez diviser le dataset en deux parties égales :
middle_index = len(melted_df) // 2
part1_df = melted_df.iloc[:middle_index]
part2_df = melted_df.iloc[middle_index:]

# Afficher les premières lignes de chaque partie pour inspection
print("\nPremière partie du dataset :")
print(part1_df.head())

print("\nDeuxième partie du dataset :")
print(part2_df.head())

Après la fusion des colonnes :
   year        artist                    track  time date.entered  week  rank
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26     1  87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02     1  91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08     1  81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21     1  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15     1  57.0

Première partie du dataset :
   year        artist                    track  time date.entered  week  rank
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26     1  87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02     1  91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08     1  81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21     1  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15     1  57.0

Deuxième partie du dataset :
       year        artist                    track  time date.entered  week  \
12046  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26    39
12047  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02    39
12048  2000  3 Doors Down               Kryptonite  3:53   2000-04-08    39
12049  2000  3 Doors Down                    Loser  4:24   2000-10-21    39
12050  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15    39

       rank
12046   NaN
12047   NaN
12048   9.0
12049   NaN
12050   NaN

In [40]:
import pandas as pd

# Charger les datasets
df_2014 = pd.read_csv('babyNames2014.csv')
df_2015 = pd.read_csv('babyNames2015.csv')

# Rajouter une colonne pour l'année dans chaque dataset
df_2014['year'] = 2014
df_2015['year'] = 2015

# Afficher les premières lignes de chaque dataset pour inspection
print("Premières lignes du dataset 2014 :")
print(df_2014.head())

print("\nPremières lignes du dataset 2015 :")
print(df_2015.head())

# Regrouper les deux datasets en un seul à l'aide de la méthode concat
merged_df = pd.concat([df_2014, df_2015])

# Afficher les premières lignes du dataset fusionné pour inspection
print("\nPremières lignes du dataset fusionné :")
print(merged_df.head())

Premières lignes du dataset 2014 :
   rank       name  frequency   sex  year
0     1       Noah        837  Male  2014
1     2  Alexander        747  Male  2014
2     3    William        687  Male  2014
3     4    Michael        680  Male  2014
4     5       Liam        670  Male  2014

Premières lignes du dataset 2015 :
   rank       name  frequency   sex  year
0     1       Noah        863  Male  2015
1     2       Liam        709  Male  2015
2     3  Alexander        703  Male  2015
3     4      Jacob        650  Male  2015
4     5    William        618  Male  2015

Premières lignes du dataset fusionné :
   rank       name  frequency   sex  year
0     1       Noah        837  Male  2014
1     2  Alexander        747  Male  2014
2     3    William        687  Male  2014
3     4    Michael        680  Male  2014
4     5       Liam        670  Male  2014