In [1]:
import pandas as pd

dataset = pd.read_csv("datasetSW.csv")
print(dataset.head())

print("Shape:", dataset.shape)
print(dataset.dtypes)

             name  height mass hair_color   skin_color eye_color birth_year  \
0  Luke Skywalker   172.0   77      blond         fair      blue      19BBY
1           C-3PO   167.0   75        NaN         gold    yellow     112BBY
2           R2-D2    96.0   32        NaN  white, blue       red      33BBY
3     Darth Vader   202.0  136       none        white    yellow    41.9BBY
4     Leia Organa   150.0   49      brown        light     brown      19BBY

   gender homeworld species
0    male  Tatooine   Human
1     NaN  Tatooine   Droid
2     NaN     Naboo   Droid
3    male  Tatooine   Human
4  female  Alderaan   Human
Shape: (90, 10)
name           object
height        float64
mass           object
hair_color     object
skin_color     object
eye_color      object
birth_year     object
gender         object
homeworld      object
species        object
dtype: object

In [10]:
#Unique pour détecter le problème
for col in dataset.columns:
    print(col, dataset[col].unique())

name ['Luke Skywalker' 'C-3PO' 'R2-D2' 'Darth Vader' 'Leia Organa' 'Owen Lars'
 'Beru Whitesun lars' 'R5-D4' 'Biggs Darklighter' 'Obi-Wan Kenobi'
 'Anakin Skywalker' 'Wilhuff Tarkin' 'Chewbacca' 'Han Solo' 'Greedo'
 'Jabba Desilijic Tiure' 'Wedge Antilles' 'Jek Tono Porkins' 'Yoda'
 'Palpatine' 'Boba Fett' 'IG-88' 'Bossk' 'Lando Calrissian' 'Lobot'
 'Ackbar' 'Mon Mothma' 'Arvel Crynyd' 'Wicket Systri Warrick' 'Nien Nunb'
 'Qui-Gon Jinn' 'Nute Gunray' 'Finis Valorum' 'Jar Jar Binks'
 'Roos Tarpals' 'Rugor Nass' 'Ric Olié' 'Watto' 'Sebulba' 'Quarsh Panaka'
 'Shmi Skywalker' 'Darth Maul' 'Bib Fortuna' 'Ayla Secura' 'Dud Bolt'
 'Gasgano' 'Ben Quadinaros' 'Mace Windu' 'Ki-Adi-Mundi' 'Kit Fisto'
 'Eeth Koth' 'Adi Gallia' 'Saesee Tiin' 'Yarael Poof' 'Plo Koon'
 'Mas Amedda' 'Gregar Typho' 'Cordé' 'Cliegg Lars' 'Poggle the Lesser'
 'Luminara Unduli' 'Barriss Offee' 'Dormé' 'Dooku' 'Bail Prestor Organa'
 'Jango Fett' 'Zam Wesell' 'Dexter Jettster' 'Lama Su' 'Taun We'
 'Jocasta Nu' 'Ratts Tyerell' 'R4-P17' 'Wat Tambor' 'San Hill' 'Shaak Ti'
 'Grievous' 'Tarfful' 'Raymus Antilles' 'Sly Moore' 'Tion Medon' 'Finn'
 'Rey' 'Poe Dameron' 'BB8' 'Captain Phasma' 'Padmé Amidala']
height [172. 167.  96. 202. 150. 178. 165.  97. 183. 182. 188. 180. 228. 173.
 175. 170.  66. 200. 190. 177.  nan  88. 160. 193. 191. 196. 224. 206.
 137. 112. 163.  94. 122. 198. 171. 184. 264. 185. 157. 166. 168. 229.
 213.  79. 216. 234.]
mass ['77' '75' '32' '136' '49' '120' '84' nan '112' '80' '74' '1,358' '110'
 '17' '78.2' '140' '113' '79' '83' '20' '68' '89' '90' '66' '82' '40' '55'
 '45' '65' '87' '50' '85' '56.2' '102' '88' '15' '48' '57' '159']
hair_color ['blond' nan 'none' 'brown' 'brown, grey' 'black' 'auburn, white'
 'auburn, grey' 'white' 'grey' 'auburn' 'blonde']
skin_color ['fair' 'gold' 'white, blue' 'white' 'light' 'white, red' nan 'green'
 'green-tan, brown' 'pale' 'metal' 'dark' 'brown mottle' 'brown' 'grey'
 'mottled green' 'orange' 'blue, grey' 'grey, red' 'red' 'blue'
 'grey, green, yellow' 'yellow' 'tan' 'fair, green, yellow' 'grey, blue'
 'silver, red' 'green, grey' 'red, blue, white' 'brown, white' 'none']
eye_color ['blue' 'yellow' 'red' 'brown' 'blue-gray' 'black' 'orange' 'hazel' 'pink'
 nan 'red, blue' 'gold' 'green, yellow' 'white' 'dark']
birth_year ['19BBY' '112BBY' '33BBY' '41.9BBY' '52BBY' '47BBY' nan '24BBY' '57BBY'
 '64BBY' '200BBY' '29BBY' '44BBY' '600BBY' '21BBY' '896BBY' '82BBY'
 '31.5BBY' '15BBY' '53BBY' '31BBY' '37BBY' '41BBY' '48BBY' '8BBY' '92BBY'
 '91BBY' '62BBY' '72BBY' '54BBY' '22BBY' '58BBY' '40BBY' '102BBY' '67BBY'
 '66BBY' '46BBY']
gender ['male' nan 'female' 'hermaphrodite' 'none']
homeworld ['Tatooine' 'Naboo' 'Alderaan' 'Stewjon' 'Eriadu' 'Kashyyyk' 'Corellia'
 'Rodia' 'Nal Hutta' 'Bestine IV' nan 'Kamino' 'Trandosha' 'Socorro'
 'Bespin' 'Mon Cala' 'Chandrila' 'Endor' 'Sullust' 'Cato Neimoidia'
 'Coruscant' 'Toydaria' 'Malastare' 'Dathomir' 'Ryloth' 'Vulpter'
 'Troiken' 'Tund' 'Haruun Kal' 'Cerea' 'Glee Anselm' 'Iridonia' 'Iktotch'
 'Quermia' 'Dorin' 'Champala' 'Geonosis' 'Mirial' 'Serenno' 'Concord Dawn'
 'Zolan' 'Ojom' 'Aleen Minor' 'Skako' 'Muunilinst' 'Shili' 'Kalee'
 'Umbara' 'Utapau']
species ['Human' 'Droid' 'Wookiee' 'Rodian' 'Hutt' "Yoda's species" 'Trandoshan'
 'Mon Calamari' 'Ewok' 'Sullustan' 'Neimodian' 'Gungan' nan 'Toydarian'
 'Dug' 'Zabrak' "Twi'lek" 'Vulptereen' 'Xexto' 'Toong' 'Cerean' 'Nautolan'
 'Tholothian' 'Iktotchi' 'Quermian' 'Kel Dor' 'Chagrian' 'Geonosian'
 'Mirialan' 'Clawdite' 'Besalisk' 'Kaminoan' 'Aleena' 'Skakoan' 'Muun'
 'Togruta' 'Kaleesh' "Pau'an"]

In [11]:
# Convertir toutes les valeurs de la variable "mass" en type de données numérique
dataset['mass'] = pd.to_numeric(dataset['mass'], errors='coerce')

# les valeurs uniques de la variable "mass" après la correction
print(dataset['mass'].unique())

[ 77.   75.   32.  136.   49.  120.   84.    nan 112.   80.   74.  110.
  17.   78.2 140.  113.   79.   83.   20.   68.   89.   90.   66.   82.
  40.   55.   45.   65.   87.   50.   85.   56.2 102.   88.   15.   48.
  57.  159. ]

In [3]:
#la méthode isnull
print(dataset.isnull())

#la méthode notnull
print(dataset.notnull())

     name  height   mass  hair_color  skin_color  eye_color  birth_year  \
0   False   False  False       False       False      False       False
1   False   False  False        True       False      False       False
2   False   False  False        True       False      False       False
3   False   False  False       False       False      False       False
4   False   False  False       False       False      False       False
..    ...     ...    ...         ...         ...        ...         ...
85  False    True   True       False       False      False        True
86  False    True   True       False       False      False        True
87  False    True   True       False       False      False        True
88  False    True   True        True        True       True        True
89  False   False  False       False       False      False       False

    gender  homeworld  species
0    False      False    False
1     True      False    False
2     True      False    False
3    False      False    False
4    False      False    False
..     ...        ...      ...
85   False       True    False
86   False       True    False
87   False       True    False
88   False       True     True
89   False      False    False

[90 rows x 10 columns]
    name  height   mass  hair_color  skin_color  eye_color  birth_year  \
0   True    True   True        True        True       True        True
1   True    True   True       False        True       True        True
2   True    True   True       False        True       True        True
3   True    True   True        True        True       True        True
4   True    True   True        True        True       True        True
..   ...     ...    ...         ...         ...        ...         ...
85  True   False  False        True        True       True       False
86  True   False  False        True        True       True       False
87  True   False  False        True        True       True       False
88  True   False  False       False       False      False       False
89  True    True   True        True        True       True        True

    gender  homeworld  species
0     True       True     True
1    False       True     True
2    False       True     True
3     True       True     True
4     True       True     True
..     ...        ...      ...
85    True      False     True
86    True      False     True
87    True      False     True
88    True      False    False
89    True       True     True

[90 rows x 10 columns]

In [4]:
#isnull pour rechercher les observations avec des valeurs manquantes dans la variable "height"
obs_height_null = dataset[dataset['height'].isnull()]

print(obs_height_null)

              name  height  mass hair_color skin_color eye_color birth_year  \
27    Arvel Crynyd     NaN   NaN      brown       fair     brown        NaN
84            Finn     NaN   NaN      black       dark      dark        NaN
85             Rey     NaN   NaN      brown      light     hazel        NaN
86     Poe Dameron     NaN   NaN      brown      light     brown        NaN
87             BB8     NaN   NaN       none       none     black        NaN
88  Captain Phasma     NaN   NaN        NaN        NaN       NaN        NaN

    gender homeworld species
27    male       NaN   Human
84    male       NaN   Human
85  female       NaN   Human
86    male       NaN   Human
87    none       NaN   Droid
88  female       NaN     NaN

In [5]:
# Décompter le nombre de valeurs manquantes par variable
var_missing = dataset.isnull().sum()
print("Nombre de valeurs manquantes par variable ")
print(var_missing)

# Décompter le nombre de valeurs manquantes par observation
obs_missing = dataset.isnull().sum(axis=1)
print("\nNombre de valeurs manquantes par observation :")
print(obs_missing)

# Décompter le nombre total de valeurs manquantes dans tout le dataset
total_missing = dataset.isnull().sum().sum()
print("\nNombre total de valeurs manquantes dans le dataset :", total_missing)

Nombre de valeurs manquantes par variable
name           0
height         6
mass          29
hair_color     6
skin_color     2
eye_color      3
birth_year    44
gender         3
homeworld     10
species        5
dtype: int64

Nombre de valeurs manquantes par observation :
0     0
1     2
2     2
3     0
4     0
     ..
85    4
86    4
87    4
88    8
89    0
Length: 90, dtype: int64

Nombre total de valeurs manquantes dans le dataset : 108

In [6]:
# Supprimer l'observation comportant 8 valeurs manquantes sur 10
dataset = dataset.dropna(thresh=3)

# Vérifier le résultat
print("Après suppression de l'observation")
print(dataset)

Après suppression de l'observation comportant 8 valeurs manquantes sur 10 :
              name  height   mass hair_color   skin_color eye_color  \
0   Luke Skywalker   172.0   77.0      blond         fair      blue
1            C-3PO   167.0   75.0        NaN         gold    yellow
2            R2-D2    96.0   32.0        NaN  white, blue       red
3      Darth Vader   202.0  136.0       none        white    yellow
4      Leia Organa   150.0   49.0      brown        light     brown
..             ...     ...    ...        ...          ...       ...
84            Finn     NaN    NaN      black         dark      dark
85             Rey     NaN    NaN      brown        light     hazel
86     Poe Dameron     NaN    NaN      brown        light     brown
87             BB8     NaN    NaN       none         none     black
89   Padmé Amidala   165.0   45.0      brown        light     brown

   birth_year  gender homeworld species
0       19BBY    male  Tatooine   Human
1      112BBY     NaN  Tatooine   Droid
2       33BBY     NaN     Naboo   Droid
3     41.9BBY    male  Tatooine   Human
4       19BBY  female  Alderaan   Human
..        ...     ...       ...     ...
84        NaN    male       NaN   Human
85        NaN  female       NaN   Human
86        NaN    male       NaN   Human
87        NaN    none       NaN   Droid
89      46BBY  female     Naboo   Human

[89 rows x 10 columns]

In [7]:
# Trouver la variable contenant le plus de valeurs manquantes
var_max_missing = dataset.isnull().sum().idxmax()
print(var_max_missing)
# Supprimer la variable contenant le plus de valeurs manquantes
dataset = dataset.drop(var_max_missing, axis=1)

# Vérifier le résultat
print("Après suppression de la variable contenant le plus de valeurs manquantes :")
print(dataset)

birth_year
Après suppression de la variable contenant le plus de valeurs manquantes :
              name  height   mass hair_color   skin_color eye_color  gender  \
0   Luke Skywalker   172.0   77.0      blond         fair      blue    male
1            C-3PO   167.0   75.0        NaN         gold    yellow     NaN
2            R2-D2    96.0   32.0        NaN  white, blue       red     NaN
3      Darth Vader   202.0  136.0       none        white    yellow    male
4      Leia Organa   150.0   49.0      brown        light     brown  female
..             ...     ...    ...        ...          ...       ...     ...
84            Finn     NaN    NaN      black         dark      dark    male
85             Rey     NaN    NaN      brown        light     hazel  female
86     Poe Dameron     NaN    NaN      brown        light     brown    male
87             BB8     NaN    NaN       none         none     black    none
89   Padmé Amidala   165.0   45.0      brown        light     brown  female

   homeworld species
0   Tatooine   Human
1   Tatooine   Droid
2      Naboo   Droid
3   Tatooine   Human
4   Alderaan   Human
..       ...     ...
84       NaN   Human
85       NaN   Human
86       NaN   Human
87       NaN   Droid
89     Naboo   Human

[89 rows x 9 columns]

In [13]:
# Tester dropna par ligne
print("Supprimer les lignes avec des valeurs manquantes :")
dataset_dropna_row = dataset.dropna(axis=0)
print(dataset_dropna_row)

# Tester dropna par colonne
print("\nSupprimer les colonnes avec des valeurs manquantes :")
dataset_dropna_col = dataset.dropna(axis=1)
print(dataset_dropna_col)

Supprimer les lignes avec des valeurs manquantes :
                  name  height   hair_color    skin_color      eye_color  \
0       Luke Skywalker   172.0        blond          fair           blue
3          Darth Vader   202.0         none         white         yellow
4          Leia Organa   150.0        brown         light          brown
5            Owen Lars   178.0  brown, grey         light           blue
6   Beru Whitesun lars   165.0        brown         light           blue
..                 ...     ...          ...           ...            ...
79            Grievous   216.0         none  brown, white  green, yellow
80             Tarfful   234.0        brown         brown           blue
81     Raymus Antilles   188.0        brown         light          brown
83          Tion Medon   206.0         none          grey          black
89       Padmé Amidala   165.0        brown         light          brown

    gender homeworld  species
0     male  Tatooine    Human
3     male  Tatooine    Human
4   female  Alderaan    Human
5     male  Tatooine    Human
6   female  Tatooine    Human
..     ...       ...      ...
79    male     Kalee  Kaleesh
80    male  Kashyyyk  Wookiee
81    male  Alderaan    Human
83    male    Utapau   Pau'an
89  female     Naboo    Human

[69 rows x 8 columns]

Supprimer les colonnes avec des valeurs manquantes :
              name
0   Luke Skywalker
1            C-3PO
2            R2-D2
3      Darth Vader
4      Leia Organa
..             ...
84            Finn
85             Rey
86     Poe Dameron
87             BB8
89   Padmé Amidala

[89 rows x 1 columns]

In [14]:
# Remplacer les valeurs manquantes de la variable "height" par sa médiane
median_height = dataset['height'].median()
dataset['height'].fillna(median_height, inplace=True)

#Le résultat
print("Après remplacer les valeurs manquantes de la variable 'height' par sa médiane :")
print(dataset)

Après remplacer les valeurs manquantes de la variable 'height' par sa médiane :
              name  height hair_color   skin_color eye_color  gender  \
0   Luke Skywalker   172.0      blond         fair      blue    male
1            C-3PO   167.0        NaN         gold    yellow     NaN
2            R2-D2    96.0        NaN  white, blue       red     NaN
3      Darth Vader   202.0       none        white    yellow    male
4      Leia Organa   150.0      brown        light     brown  female
..             ...     ...        ...          ...       ...     ...
84            Finn   180.0      black         dark      dark    male
85             Rey   180.0      brown        light     hazel  female
86     Poe Dameron   180.0      brown        light     brown    male
87             BB8   180.0       none         none     black    none
89   Padmé Amidala   165.0      brown        light     brown  female

   homeworld species
0   Tatooine   Human
1   Tatooine   Droid
2      Naboo   Droid
3   Tatooine   Human
4   Alderaan   Human
..       ...     ...
84       NaN   Human
85       NaN   Human
86       NaN   Human
87       NaN   Droid
89     Naboo   Human

[89 rows x 8 columns]

In [15]:
# Identifier les observations en double
duplicates = dataset.duplicated()

# Supprimer les observations en double
dataset.drop_duplicates(inplace=True)

# Vérifier le résultat
print("Après suppression des observations en double :")
print(dataset)

Après suppression des observations en double :
              name  height hair_color   skin_color eye_color  gender  \
0   Luke Skywalker   172.0      blond         fair      blue    male
1            C-3PO   167.0        NaN         gold    yellow     NaN
2            R2-D2    96.0        NaN  white, blue       red     NaN
3      Darth Vader   202.0       none        white    yellow    male
4      Leia Organa   150.0      brown        light     brown  female
..             ...     ...        ...          ...       ...     ...
84            Finn   180.0      black         dark      dark    male
85             Rey   180.0      brown        light     hazel  female
86     Poe Dameron   180.0      brown        light     brown    male
87             BB8   180.0       none         none     black    none
89   Padmé Amidala   165.0      brown        light     brown  female

   homeworld species
0   Tatooine   Human
1   Tatooine   Droid
2      Naboo   Droid
3   Tatooine   Human
4   Alderaan   Human
..       ...     ...
84       NaN   Human
85       NaN   Human
86       NaN   Human
87       NaN   Droid
89     Naboo   Human

[86 rows x 8 columns]